@font-face {
  font-family: 'Open sans';
  src: url('Fonts/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Open sans';
  src: url('Fonts/OpenSans/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Open sans';
  src: url('Fonts/OpenSans/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Oswald';
  src: url('Fonts/Oswald/Oswald-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham Ultra';
  src: url("Fonts/Gotham/Gotham-UltraItalic.otf") format("truetype");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url("Fonts/Gotham/GothamMedium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham Black';
  src: url("Fonts/Gotham/Gotham\ Black.otf") format("truetype");
  font-display: swap;
  font-weight: 900;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body button {
  cursor: pointer;
}
body .main-container .outer-main-container .header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
body .main-container .outer-main-container .header .header-div {
  height: 70px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}
body .main-container .outer-main-container .header .header-div .nav-section .menuIcon {
  display: none;
}
body .main-container .outer-main-container .header .header-div .nav-section .cancelIcon {
  display: none;
}
body .main-container .outer-main-container .header .header-div .nav-section .logo {
  padding: 20px 0px 10px 30px;
}
@media screen and (max-width: 1023px) {
  body .main-container .outer-main-container .header .header-div .header-menu {
    display: none;
  }
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists {
  display: flex;
  margin: 0px -30px;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists {
  list-style: none;
  position: relative;
  padding: 13px 20px;
  margin: 0px 20px;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists:hover {
  background-color: black;
  color: #FFFFFF;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a {
  text-decoration: none;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .navOne {
  font: 600 12px/17px 'Open Sans', 'sans-serif';
  color: black;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .nav-head {
  font: 800 18px/24px 'Open Sans', 'sans-serif';
  color: black;
  position: relative;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .arrow::after {
  content: "";
  background-image: url(Images/arrow.png);
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  rotate: 180deg;
  top: 10px;
  color: #E3411A;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .underLine {
  background-color: #0099D8;
  display: block;
  width: 30px;
  height: 3px;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists .sub-menu {
  background-color: white;
  height: 200px;
  display: none;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists .sub-menu .mobileUl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 35px;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists .sub-menu .mobileUl .mobileLi {
  font: 500 20px/22px ' Oswald', sans-serif;
  color: black;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists:hover {
  background-color: black;
}
body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists:hover a > * {
  color: #FFFFFF;
}
body .main-container .outer-main-container .header .header-div .right-nav {
  display: flex;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 23px;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .tweet {
  background-image: url(Images/Tweet\ btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 68px;
  height: 33px;
  margin-top: 11px;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .tweet .blog-ey {
  font: 800 12px/17px 'Open Sans', 'sans-serif';
  color: #FFFFFF;
  padding-top: 4px;
  text-align: center;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .contactBtn {
  position: relative;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .contactBtn .headsetIcon {
  position: absolute;
  top: 10px;
  left: 15px;
}
body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .contactBtn .innerBtn {
  width: 120px;
  height: 38px;
  border-radius: 19px;
  background-color: #FFCA39;
  color: black;
  font: bold 16px/22px 'Open Sans', 'sans-serif';
  border: none;
  padding-left: 20px;
}
body .main-container .outer-main-container .header .header-div .topSide-header {
  display: none;
}
body .main-container .inner-content {
  margin-top: 71px;
}
body .main-container .inner-content .content-nav {
  background-image: url(Images/blue\ rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 576px;
  display: block;
}
body .main-container .inner-content .content-nav .left-nav {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
body .main-container .inner-content .content-nav .left-nav .inner-nav .bulb {
  padding: 60px 0px 60px 75px;
}
body .main-container .inner-content .content-nav .left-nav .inner-nav .content-div-mob .main-title {
  display: none;
}
body .main-container .inner-content .content-nav .left-nav .main-contents {
  padding-top: 63px;
  padding-left: 73px;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .main-title {
  font: 900 60px/54px 'Gotham Ultra', sans-serif;
  color: #FFB13C;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL {
  padding-top: 18px;
  padding-left: 33px;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL .mainLi {
  font: 600 28px/50px 'Open Sans', 'sans-serif';
  color: #FFFFFF;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL .mainLi .special {
  font-weight: bolder;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .qouteBtn {
  margin-top: 30px;
  margin-left: 5px;
}
body .main-container .inner-content .content-nav .left-nav .main-contents .qouteBtn .btnQuote {
  height: 70px;
  width: 260px;
  background-color: #0099D8;
  border-radius: 35px;
  border: none;
  font: bold 30px/41px 'Open Sans', 'sans-serif';
  color: #FFFFFF;
  text-align: center;
}
body .main-container .inner-content .second-content-container .inner-second .second-title {
  font: 500 38px/35px 'Gotham Ultra', sans-serif;
  color: black;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 32px;
}
body .main-container .inner-content .second-content-container .problem-div {
  padding-bottom: 78px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 27px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div {
  background-image: url(Images/site\ design.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 291px;
  max-width: 412px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details {
  text-align: center;
  padding: 127px 47px 17px 47px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .problem-title {
  font: bold 28px/31px 'Gotham Black', sans-serif;
  color: black;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .prob-description {
  font: 500 26px/32px 'Open Sans', 'sans-serif';
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .learnMore {
  font: bold 16px/23px 'Open Sans', 'sans-serif';
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two {
  background-image: url(Images/digital\ marketing.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 291px;
  max-width: 412px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details {
  text-align: center;
  padding: 127px 47px 17px 47px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .problem-title {
  font: bold 28px/31px 'Gotham Black', sans-serif;
  color: black;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .prob-description {
  font: 500 26px/32px 'Open Sans', 'sans-serif';
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .learnMore {
  font: bold 16px/23px 'Open Sans', 'sans-serif';
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three {
  background-image: url(Images/Group\ 9939.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 291px;
  max-width: 412px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details {
  text-align: center;
  padding: 127px 25px 11px 25px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .problem-title {
  font: bold 28px/31px 'Gotham Black', sans-serif;
  color: black;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .prob-description {
  font: 500 26px/32px 'Open Sans', 'sans-serif';
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}
body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .learnMore {
  font: bold 16px/23px 'Open Sans', 'sans-serif';
}
body .main-container .inner-content .hover-service-section {
  display: none;
  position: relative;
  border-top: 1px solid #707070;
}
body .main-container .inner-content .hover-service-section .grid-container {
  width: 840px;
  background-color: #FFFFFF;
  height: 420px;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 208px;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid {
  padding: 50px 30px 40px 40px;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 18px;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids {
  list-style: none;
  padding: 0;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids a {
  text-decoration: none;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids a .grid-contents {
  display: flex;
  align-items: center;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids a .grid-contents .img-grid .serviceImg {
  width: 48px;
  height: auto;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids a .grid-contents .title-grid .title-div {
  padding-left: 10px;
  font: 500 20px/24px ' Oswald', sans-serif;
  letter-spacing: -1px;
  color: black;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids .borderLine {
  height: 4px;
  background-color: #0099D8;
  visibility: hidden;
}
body .main-container .inner-content .hover-service-section .grid-container .inner-grid .ul-grids .li-grids:hover > .borderLine {
  visibility: visible;
}
body .main-container .inner-content .hover-service-section .grid-container .view-div {
  text-align: center;
}
body .main-container .inner-content .hover-service-section .grid-container .view-div a {
  text-align: center;
  padding-top: 50px;
  text-decoration-color: #0099D8;
}
body .main-container .inner-content .hover-service-section .grid-container .view-div a .rightArrow {
  position: relative;
  top: 6px;
  color: #0099D8;
  transform: rotate(270deg);
  left: 8px;
}
body .main-container .inner-content .hover-service-section .grid-container .view-div a .viewService {
  font: 600 14px/14px 'Open Sans', 'sans-serif';
  color: #0099D8;
}
body .main-container .inner-content .hover-service-section .grid-container .hover-footer-content .footer-div {
  height: 10px;
  width: 100%;
  background-color: #0099D8;
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
}
body .main-container .inner-content .hover-work-section {
  display: none;
  position: relative;
  z-index: 999;
  border-top: 1px solid #707070;
}
body .main-container .inner-content .hover-work-section .outer-work-container {
  position: fixed;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section {
  width: 1158px;
  height: 418px;
  background: #FFFFFF;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv {
  max-width: 328px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .portImg .imgPort {
  width: auto;
  height: 200px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .workTitle {
  font: 500 28px/22px ' Oswald', sans-serif;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .workContent {
  font: 600 15px/20px 'Open Sans', 'sans-serif';
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .view-div {
  position: relative;
  right: 20px;
  top: 18px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .view-div a {
  text-decoration-color: #0099D8;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .view-div a .rightArrow {
  position: relative;
  top: 10px;
  color: #0099D8;
  transform: rotate(270deg);
  left: 9px;
  font-size: 29px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .details .view-div a .viewService {
  font: 600 14px/14px 'Open Sans', 'sans-serif';
  color: #0099D8;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .caseStudy {
  max-width: 355px;
  position: unset;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .caseStudy .portImg .imgPort {
  width: auto;
  height: 200px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .caseStudy .details {
  position: unset;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .caseStudy .details .workContent {
  max-width: 320px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .caseStudy .details .view-div {
  position: relative;
  top: 0px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .ourWork {
  max-width: 355px;
  position: unset;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .ourWork .portImg .imgPort {
  width: auto;
  height: 200px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .ourWork .details {
  position: unset;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .ourWork .details .workContent {
  max-width: 320px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .ourWork .details .view-div {
  top: 20px;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .hover-work-footer {
  position: relative;
}
body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .hover-work-footer .work-footer-div {
  width: 100%;
  height: 10px;
  background-color: #0099D8;
  position: absolute;
  top: 11px;
}
body .main-container .blur {
  display: none;
  max-width: 100%;
  width: 100%;
  height: 70pc;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 10px;
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  body .main-container .outer-main-container .header .header-div .nav-section .menuIcon {
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .cancelIcon {
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .logo {
    padding: 20px 0px 10px 20px;
    width: 100%;
    max-width: 137px;
  }
  body .main-container .outer-main-container .header .header-div .header-menu .ulLists {
    margin: 0px -11px;
  }
  body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists {
    margin: 0px 10px;
  }
  body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .navOne {
    font-size: 10px;
  }
  body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .nav-head {
    font: 800 13px/19px 'Open Sans', 'sans-serif';
  }
  body .main-container .outer-main-container .header .header-div .header-menu .ulLists .liLists a .arrow::after {
    top: 4px;
  }
  body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .tweet .blog-ey {
    font-size: 8px;
  }
  body .main-container .outer-main-container .header .header-div .right-nav .inner-right-nav .contactBtn .innerBtn {
    width: 97px;
    font-size: 14px;
  }
  body .main-container .inner-content .hover-work-section .outer-work-container {
    position: fixed;
    left: 50%;
    top: 70px;
    transform: translate(-50%);
  }
  body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv {
    justify-content: center;
    column-gap: 30px;
    margin-left: 20px;
  }
  body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .ourWorks .workDiv .portfolioDiv .portImg .imgPort {
    width: 100%;
    height: auto;
    max-width: 256px;
  }
  body .main-container .inner-content .hover-work-section .outer-work-container .inner-work-section .hover-work-footer .work-footer-div {
    top: 66px;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .main-title {
    font-size: 45px;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL .mainLi {
    font-size: 23px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div {
    max-width: 296px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .problem-title {
    font-size: 19px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .prob-description {
    font: 500 20px/32px 'Open Sans', 'sans-serif';
    font-style: italic;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two {
    max-width: 296px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details {
    padding: 127px 43px 17px 47px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .problem-title {
    font-size: 19px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .prob-description {
    font: 500 20px/32px 'Open Sans', 'sans-serif';
    font-style: italic;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three {
    max-width: 296px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .problem-title {
    font-size: 19px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .prob-description {
    font: 500 20px/32px 'Open Sans', 'sans-serif';
    font-style: italic;
  }
}
@media screen and (max-width: 1023px) {
  body .main-container .outer-main-container .header .header-div {
    display: unset;
    flex-direction: column;
  }
  body .main-container .outer-main-container .header .header-div .nav-section {
    position: relative;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .menuIcon {
    display: block;
    position: absolute;
    top: 30px;
    left: 18px;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .cancelIcon {
    position: absolute;
    left: 20px;
    top: 22px;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .logo {
    padding: 20px 0px 10px 60px;
  }
  body .main-container .outer-main-container .header .header-div .header-menu {
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .right-nav {
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header {
    background-image: url(Images/mobile\ background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu {
    display: block;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists {
    display: block;
    padding: 25px 0px 40px 0px;
    text-align: center;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists {
    padding-left: 0px;
    padding-top: 20px;
    width: 100%;
    padding: 12px 0px;
    margin: 0px 0px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .navOne {
    color: #FFFFFF;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .nav-head {
    color: #FFFFFF;
    font-size: 21px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .lineDiv {
    display: flex;
    justify-content: center;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .lineDiv .underLine {
    width: 40px;
    height: 4px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .arrow::after {
    content: "";
    background-image: url(Images/arrow.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    rotate: 180deg;
    top: 10px;
    color: #E3411A;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu {
    background-color: white;
    height: 200px;
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu .mobileUl {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 35px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu .mobileUl .mobileLi {
    font: 500 20px/22px ' Oswald', sans-serif;
    color: black;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .opens {
    display: block;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav {
    display: block;
    padding-bottom: 20px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav {
    flex-direction: column-reverse;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav .contactBtn {
    padding-right: 19px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav .contactBtn .headsetIcon {
    left: 120px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav .contactBtn .innerBtn {
    width: 330px;
  }
  body .main-container .inner-content .content-nav .left-nav .inner-nav .bulb {
    padding: 60px 0px 60px 30px;
    width: 100%;
  }
  body .main-container .inner-content .content-nav .left-nav .inner-nav .content-div-mob .main-title {
    display: none;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents {
    padding-left: 50px;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .main-title {
    font: 900 36px/42px 'Gotham Ultra', sans-serif;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL {
    padding-left: 24px;
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .mainUL .mainLi {
    font: 600 20px/36px 'Open Sans', 'sans-serif';
  }
  body .main-container .inner-content .content-nav .left-nav .main-contents .qouteBtn .btnQuote {
    height: 70px;
    width: 224px;
    font: bold 24px/41px 'Open Sans', 'sans-serif';
  }
  body .main-container .inner-content .second-content-container .inner-second .second-title {
    font-size: 32px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex {
    padding: 0px 28px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details {
    padding: 127px 24px 13px 14px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .problem-title {
    font-size: 18px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div .site-details .prob-description {
    font-size: 19px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details {
    padding: 127px 4px 13px 14px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .problem-title {
    font-size: 18px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-two .site-details .prob-description {
    font-size: 19px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details {
    padding: 127px 4px 13px 2px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .problem-title {
    font-size: 18px;
  }
  body .main-container .inner-content .second-content-container .problem-div .problem-grid .grid-flex .site-div-three .site-details .prob-description {
    font-size: 19px;
  }
}
@media screen and (max-width: 767px) {
  body .main-container .outer-main-container .header .header-div {
    flex-direction: column;
    padding-left: 0;
  }
  body .main-container .outer-main-container .header .header-div .nav-section {
    position: relative;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .menuIcon {
    display: block;
    position: absolute;
    left: 20px;
    top: 30px;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .cancelIcon {
    display: none;
    position: absolute;
    left: 20px;
    top: 22px;
  }
  body .main-container .outer-main-container .header .header-div .nav-section .logo {
    padding: 18px 0px 10px 66px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists {
    display: block;
    padding: 25px 0px 40px 0px;
    text-align: center;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists {
    padding-left: 0px;
    padding-top: 20px;
    width: 100%;
    padding: 12px 0px;
    margin: 0px 0px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .navOne {
    color: #FFFFFF;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .nav-head {
    color: #FFFFFF;
    font-size: 21px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .lineDiv {
    display: flex;
    justify-content: center;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .lineDiv .underLine {
    width: 40px;
    height: 4px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists a .arrow::after {
    content: "";
    background-image: url(Images/arrow.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    rotate: 180deg;
    top: 10px;
    color: #E3411A;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu {
    background-color: white;
    height: 200px;
    display: none;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu .mobileUl {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 35px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .sub-menu .mobileUl .mobileLi {
    font: 500 20px/22px ' Oswald', sans-serif;
    color: black;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .header-menu .ulLists .liLists .opens {
    display: block;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav {
    padding-left: 20px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav {
    flex-direction: column-reverse;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav .contactBtn .headsetIcon {
    left: 120px;
  }
  body .main-container .outer-main-container .header .header-div .topSide-header .right-nav .inner-right-nav .contactBtn .innerBtn {
    width: 330px;
  }
  body .main-container .click {
    background-image: url(Images/mobile\ background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: block;
  }
  body .main-container .click .content-nav {
    height: 500px;
  }
  body .main-container .click .content-nav .left-nav {
    display: unset;
  }
  body .main-container .click .content-nav .left-nav .inner-nav {
    display: flex;
  }
  body .main-container .click .content-nav .left-nav .inner-nav .bulb {
    padding: 42px 0px 0px 21px;
    max-width: 116px;
    height: 177px;
  }
  body .main-container .click .content-nav .left-nav .inner-nav .content-div-mob .main-title {
    font: 900 20px/42px 'Gotham Ultra', sans-serif;
    color: #FFB13C;
    padding-top: 42px;
    padding-left: 20px;
    display: block;
  }
  body .main-container .click .content-nav .left-nav .main-contents {
    padding-left: 0px;
    padding-top: 0px;
  }
  body .main-container .click .content-nav .left-nav .main-contents .main-title {
    font-size: 30px;
    display: none;
  }
  body .main-container .click .content-nav .left-nav .main-contents .mainUL {
    padding-left: 49px;
  }
  body .main-container .click .content-nav .left-nav .main-contents .mainUL .mainLi {
    font-size: 16px;
  }
  body .main-container .click .content-nav .left-nav .main-contents .qouteBtn {
    margin-top: 37px;
    margin-left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .main-container .click .content-nav .left-nav .main-contents .qouteBtn .btnQuote {
    height: 59px;
    width: 224px;
    font: bold 20px/41px 'Open Sans', 'sans-serif';
  }
  body .main-container .click .second-content-container .problem-div .problem-grid .grid-flex {
    flex-direction: column;
    row-gap: 20px;
  }
}
