@primary-color: black;
@button-color: #FFCA39;
@seconday-color: #FFFFFF;
@line-color: #0099D8;



@font-face {
    font-family: 'Open sans';
    src: url('./Fonts/OpenSans/OpenSans-SemiBold.ttf');
    font-weight: 600;

}

@font-face {
    font-family: 'Open sans';
    src: url('./Fonts/OpenSans/OpenSans-ExtraBold.ttf');
    font-weight: 800;

}

@font-face {
    font-family: 'Open sans';
    src: url('./Fonts/OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;

}

@font-face {
    font-family: 'Oswald';
    src: url('./Fonts/Oswald/Oswald-Medium.ttf');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url("./Fonts/Gotham/Gotham-UltraItalic.otf") format("truetype");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url("./Fonts/Gotham/GothamMedium.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Black';
    src: url("./Fonts/Gotham/Gotham\ Black.otf") format("truetype");
    font-display: swap;
    font-weight: 900;
}



@openSans: 'Open Sans', 'sans-serif';
@oswald: ' Oswald', sans-serif;
@gotham :'Gotham Ultra', sans-serif;
@gothamBlack :'Gotham Black', sans-serif;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    button {
        cursor: pointer;
    }

    .main-container {
        .outer-main-container {



            .header {


                position: fixed;
                background: white;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 99;

                .header-div {
                    height: 70px;
                    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.16);
                    display: flex;
                    justify-content: space-around;
                    max-width: 1440px;
                    margin: 0 auto;

                    .nav-section {

                        .menuIcon {
                            display: none;
                        }

                        .cancelIcon {
                            display: none;
                        }


                        .logo {
                            padding: 20px 0px 10px 30px;

                        }

                    }

                    // .topSide-header {

                    // display: flex;
                    // padding-left: 103px;



                    // .topSide-header{

                    .header-menu {
                        @media screen and (max-width:1023px) {
                            display: none;
                        }

                        .ulLists {

                            display: flex;
                            // padding: 15px 0px;
                            // column-gap: 67px;
                            margin: 0px -30px;


                            .liLists {
                                list-style: none;
                                // padding-left: 60px;
                                position: relative;
                                padding: 13px 20px;
                                margin: 0px 20px;

                                &:hover {
                                    background-color: @primary-color;
                                    color: @seconday-color;
                                }


                                a {
                                    text-decoration: none;



                                    .navOne {
                                        font: 600 12px/17px @openSans;
                                        color: @primary-color;


                                    }

                                    .nav-head {
                                        font: 800 18px/24px @openSans;
                                        color: @primary-color;
                                        position: relative;

                                    }

                                    .arrow::after {
                                        content: "";
                                        background-image: url(./Images/arrow.png);
                                        position: absolute;
                                        background-repeat: no-repeat;
                                        width: 20px;
                                        height: 10px;
                                        rotate: 180deg;
                                        top: 10px;
                                        color: #E3411A;

                                    }

                                    // .nav-head::after{
                                    //     content: "arrow_drop_down";
                                    //     font-family:' material-symbols-outlined';
                                    // }

                                    // .arrow {
                                    //     color: #E3411A;
                                    //     position: absolute;
                                    //     right: -6px;
                                    //     font-size: 27px;
                                    //     top: 30px;


                                    // }

                                    .underLine {

                                        background-color: #0099D8;
                                        display: block;
                                        width: 30px;
                                        height: 3px;
                                    }
                                }

                                .sub-menu {
                                    background-color: white;
                                    height: 200px;
                                    display: none;


                                    .mobileUl {

                                        display: flex;
                                        flex-direction: column;
                                        gap: 30px;
                                        padding-top: 35px;


                                        .mobileLi {
                                            font: 500 20px/22px @oswald;
                                            color: @primary-color;

                                        }
                                    }

                                }

                                // .sub-menu.open {
                                //     display: block;
                                // }


                            }

                            .liLists:hover {
                                background-color: @primary-color;

                                a {
                                    &>* {
                                        color: @seconday-color;
                                    }
                                }


                            }
                        }
                    }


                    .right-nav {
                        // padding-left: 70px;
                        display: flex;

                        .inner-right-nav {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            column-gap: 23px;

                            .tweet {
                                background-image: url(./Images/Tweet\ btn.png);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 68px;
                                height: 33px;
                                margin-top: 11px;


                                .blog-ey {
                                    font: 800 12px/17px @openSans;
                                    color: @seconday-color;
                                    padding-top: 4px;
                                    text-align: center;

                                }
                            }

                            .contactBtn {
                                position: relative;

                                .headsetIcon {
                                    position: absolute;
                                    top: 10px;
                                    left: 15px;
                                }


                                .innerBtn {
                                    width: 120px;
                                    height: 38px;
                                    border-radius: 19px;
                                    background-color: @button-color;
                                    color: @primary-color;
                                    font: bold 16px/22px @openSans;
                                    border: none;
                                    padding-left: 20px;


                                }
                            }

                        }
                    }

                    .topSide-header {
                        display: none;
                    }

                    // }




                }
            }

        }

        .inner-content {
            margin-top: 71px;


            .content-nav {
                background-image: url(./Images/blue\ rectangle.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 576px;
                display: block;

                .left-nav {

                    display: flex;
                    max-width: 1440px;
                    margin: 0 auto;

                    .inner-nav {
                        .bulb {
                            padding: 60px 0px 60px 75px;

                        }

                        .content-div-mob {
                            .main-title {
                                display: none;
                            }

                        }

                    }

                    .main-contents {
                        padding-top: 63px;
                        padding-left: 73px;

                        .main-title {
                            font: 900 60px/54px @gotham ;
                            color: #FFB13C;

                        }

                        .mainUL {

                            padding-top: 18px;
                            padding-left: 33px;

                            .mainLi {
                                font: 600 28px/50px @openSans;
                                color: @seconday-color;

                                .special {
                                    font-weight: bolder;
                                }
                            }
                        }

                        .qouteBtn {
                            margin-top: 30px;
                            margin-left: 5px;

                            .btnQuote {
                                height: 70px;
                                width: 260px;
                                background-color: #0099D8;
                                border-radius: 35px;
                                border: none;
                                font: bold 30px/41px @openSans;
                                color: @seconday-color;
                                text-align: center;
                            }

                        }
                    }
                }


            }

            .second-content-container {
                .inner-second {
                    .second-title {
                        font: 500 38px/35px @gotham;
                        color: @primary-color;
                        text-align: center;
                        padding-top: 48px;
                        padding-bottom: 32px;
                    }

                }

                .problem-div {


                    padding-bottom: 78px;

                    .problem-grid {
                        .grid-flex {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            column-gap: 27px;

                            .site-div {
                                background-image: url(./Images/site\ design.png);
                                // background-position: center;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 291px;
                                max-width: 412px;

                                .site-details {
                                    text-align: center;
                                    padding: 127px 47px 17px 47px;

                                    .problem-title {
                                        font: bold 28px/31px @gothamBlack;
                                        color: @primary-color;
                                    }

                                    .prob-description {
                                        font: 500 26px/32px @openSans;
                                        font-style: italic;
                                        padding-top: 10px;
                                        padding-bottom: 20px;
                                    }

                                    .learnMore {
                                        font: bold 16px/23px @openSans;
                                    }
                                }

                            }

                            .site-div-two {
                                background-image: url(./Images/digital\ marketing.png);
                                // background-position: center;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 291px;
                                max-width: 412px;

                                .site-details {
                                    text-align: center;
                                    padding: 127px 47px 17px 47px;

                                    .problem-title {
                                        font: bold 28px/31px @gothamBlack;
                                        color: @primary-color;
                                    }

                                    .prob-description {
                                        font: 500 26px/32px @openSans;
                                        font-style: italic;
                                        padding-top: 10px;
                                        padding-bottom: 20px;
                                    }

                                    .learnMore {
                                        font: bold 16px/23px @openSans;
                                    }
                                }

                            }

                            .site-div-three {
                                background-image: url(./Images/Group\ 9939.png);
                                // background-position: center;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 291px;
                                max-width: 412px;

                                .site-details {
                                    text-align: center;
                                    padding: 127px 25px 11px 25px;

                                    .problem-title {
                                        font: bold 28px/31px @gothamBlack;
                                        color: @primary-color;
                                    }

                                    .prob-description {
                                        font: 500 26px/32px @openSans;
                                        font-style: italic;
                                        padding-top: 10px;
                                        padding-bottom: 20px;
                                    }

                                    .learnMore {
                                        font: bold 16px/23px @openSans;
                                    }
                                }

                            }
                        }
                    }
                }
            }



            // service hover container details
            .hover-service-section {

                display: none;
                position: relative;
                border-top: 1px solid #707070;


                .grid-container {
                    // display: block;
                    width: 840px;
                    background-color: @seconday-color;
                    height: 420px;
                    position: absolute;
                    right: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 208px;



                    .inner-grid {
                        padding: 50px 30px 40px 40px;

                        .ul-grids {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            row-gap: 50px;
                            column-gap: 18px;


                            .li-grids {
                                list-style: none;
                                padding: 0;



                                a {
                                    text-decoration: none;



                                    .grid-contents {

                                        display: flex;
                                        align-items: center;

                                        .img-grid {
                                            width: 48px;
                                            height: auto;

                                        }


                                        .title-grid {
                                            .title-div {
                                                padding-left: 8px;
                                                font: 500 20px/24px @oswald;
                                                letter-spacing: -1px;
                                                color: @primary-color;
                                                // -webkit-text-stroke: 1px #707070;



                                            }
                                        }

                                    }
                                }


                                .borderLine {
                                    // display: none;
                                    height: 4px;
                                    background-color: #0099D8;
                                    visibility: hidden;
                                }




                            }

                            .li-grids:hover>.borderLine {
                                visibility: visible;
                            }

                            // .li-grids:hover {


                            // }
                        }
                    }

                    .view-div {

                        text-align: center;

                        a {
                            text-align: center;
                            padding-top: 50px;
                            text-decoration-color: #0099D8;


                            .rightArrow {
                                position: relative;
                                top: 6px;
                                color: #0099D8;
                                // -webkit-text-stroke: 1px #707070;
                                transform: rotate(270deg);
                                left: 8px;

                            }

                            .viewService {
                                font: 600 14px/14px @openSans;
                                color: #0099D8;
                                // -webkit-text-stroke: 1px #707070;

                            }

                        }
                    }

                    .hover-footer-content {
                        .footer-div {
                            height: 10px;
                            width: 100%;
                            background-color: #0099D8;
                            border: 1px solid white;
                            position: absolute;
                            bottom: 0px;
                        }
                    }




                }



            }



            // work hover container details
            .hover-work-section {
                display: none;
                position: relative;
                z-index: 999;
                // right: 120px;
                border-top: 1px solid #707070;


                .outer-work-container {
                    position: fixed;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);


                    display: flex;
                    justify-content: center;

                    .inner-work-section {
                        width: 1158px;
                        height: 429px;
                        background: @seconday-color;

                        .ourWorks {

                            .workDiv {
                                display: flex;
                                justify-content: space-evenly;
                                padding-top: 30px;


                                .portfolioDiv {
                                    max-width: 328px;
                                    position: relative;


                                    .details {

                                        position: absolute;
                                        bottom: 18px;


                                        .workTitle {
                                            font: 500 28px/22px @oswald;
                                            padding-bottom: 10px;

                                        }

                                        .workContent {
                                            font: 600 15px/20px @openSans;
                                        }

                                        .view-div {

                                            position: relative;
                                            right: 20px;
                                            top: 18px;

                                            a {

                                                text-decoration-color: #0099D8;

                                                .rightArrow {
                                                    position: relative;
                                                    top: 10px;
                                                    color: #0099D8;
                                                    transform: rotate(270deg);
                                                    left: 9px;
                                                    font-size: 29px;

                                                }

                                                .viewService {
                                                    font: 600 14px/14px @openSans;
                                                    color: #0099D8;

                                                }

                                            }
                                        }

                                    }




                                }

                                .caseStudy {
                                    max-width: 355px;
                                    position: unset;



                                    .details {
                                        position: unset;

                                        .workTitle {
                                            padding-top: 30px;
                                        }

                                        .workContent {
                                            max-width: 320px;
                                        }

                                        .view-div {
                                            position: relative;
                                            top: 0px;

                                        }
                                    }




                                }

                                .ourWork {
                                    max-width: 355px;
                                    position: unset;




                                    .details {
                                        position: unset;

                                        .workTitle {
                                            padding-top: 20px;

                                        }

                                        .workContent {
                                            max-width: 320px;
                                        }

                                        .view-div {
                                            top: 20px;
                                        }
                                    }
                                }

                            }
                        }

                        .hover-work-footer {

                            position: relative;

                            .work-footer-div {
                                width: 100%;
                                height: 10px;
                                background-color: #0099D8;
                                position: absolute;
                                top: 11px;

                            }
                        }

                    }
                }

            }


        }

        .blur {
            display: none;
            max-width: 100%;
            width: 100%;
            height: 70pc;
            opacity: 0.7;
            background-color: black;
            position: absolute;
            top: 10px;
        }
    }
}


// media query for laptop

// @media screen and (max-width:1024px){

//     body {

//         .main-container {
//             .outer-main-container {
//                 .header {
//                     .header-div {
//                         .nav-section {
//                             position: relative;

//                             .menuIcon {
//                                 display: block;
//                             }

//                             .cancelIcon {
//                                 display: none;
//                                 position: absolute;
//                                 left: 20px;
//                                 top: 22px;
//                             }

//                             .logo {
//                                 padding: 18px 0px 10px 66px;
//                             }
//                         }


//                     }
//                 }


//                 .inner-content {
//                     .content-nav {
//                         .left-nav {
//                             .main-contents {
//                                 .main-title {
//                                     font: 900 46px/52px 'Gotham Ultra', sans-serif;
//                                 }

//                                 .mainUL {
//                                     .mainLi {
//                                         font: 600 26px/48px 'Open Sans', 'sans-serif';
//                                     }
//                                 }
//                             }

//                         }
//                     }

//                     .second-content-container {
//                         .inner-second {
//                             .second-title {
//                                 font-size: 32px;
//                             }
//                         }

//                         .problem-div {
//                             .problem-grid {
//                                 .grid-flex {
//                                     padding: 0px 28px;

//                                     .site-div {
//                                         .site-details {

//                                             padding: 127px 24px 13px 14px;

//                                             .problem-title {
//                                                 font-size: 22px;
//                                             }

//                                         }
//                                     }

//                                     .site-div-two {


//                                         .site-details {
//                                             padding: 127px 4px 13px 14px;

//                                             .problem-title {
//                                                 font-size: 22px;
//                                             }
//                                         }



//                                     }

//                                     .site-div-three {

//                                         .site-details {
//                                             padding: 127px 4px 13px 14px;

//                                             .problem-title {
//                                                 font-size: 22px;
//                                             }
//                                         }



//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }

//             }
//         }

//     }

// }



@media screen and (min-width:1024px) and(max-width:1365px) {


    body {

        .main-container {
            .outer-main-container {
                .header {
                    .header-div {

                        .nav-section {


                            .menuIcon {
                                display: none;
                            }

                            .cancelIcon {
                                display: none;

                            }

                            .logo {
                                padding: 20px 0px 10px 20px;
                                width: 100%;
                                max-width: 137px;
                            }
                        }


                        .header-menu {
                            .ulLists {

                                margin: 0px -11px;

                                .liLists {
                                    margin: 0px 10px;


                                    a {

                                        .navOne {
                                            font-size: 10px;
                                        }

                                        .nav-head {
                                            font: 800 13px/19px 'Open Sans', 'sans-serif'
                                        }

                                        .arrow::after {
                                            top: 4px;

                                        }
                                    }

                                }
                            }
                        }

                        .right-nav {
                            // padding-left: 56px;

                            .inner-right-nav {
                                .tweet {
                                    .blog-ey {
                                        font-size: 8px;
                                    }
                                }

                                .contactBtn {
                                    .innerBtn {
                                        width: 97px;
                                        font-size: 14px;
                                    }
                                }
                            }

                        }



                    }
                }


            }


            .inner-content {



                .hover-work-section {
                    .outer-work-container {
                        .inner-work-section {
                            .ourWorks {
                                .workDiv {
                                    justify-content: center;
                                    column-gap: 30px;
                                    margin-left: 20px;

                                    .portfolioDiv {
                                        .portImg {
                                            .imgPort {
                                                width: 100%;
                                                height: auto;
                                                max-width: 256px;

                                            }
                                        }

                                    }
                                }
                            }

                            .hover-work-footer{
                                .work-footer-div{
                                    top: 66px;
                                }
                            }
                        }
                    }
                }















                .content-nav {
                    .left-nav {
                        .main-contents {
                            .main-title {
                                font-size: 45px;
                            }

                            .mainUL {
                                .mainLi {
                                    font-size: 23px;
                                }
                            }
                        }
                    }
                }


                .second-content-container {
                    .problem-div {
                        .problem-grid {
                            .grid-flex {
                                .site-div {

                                    max-width: 296px;

                                    .site-details {

                                        .problem-title {
                                            font-size: 19px;
                                        }

                                        .prob-description {
                                            font: 500 20px/32px 'Open Sans', 'sans-serif';
                                            font-style: italic;
                                        }
                                    }

                                }

                                .site-div-two {
                                    max-width: 296px;

                                    .site-details {
                                        padding: 127px 43px 17px 47px;

                                        .problem-title {
                                            font-size: 19px;
                                        }

                                        .prob-description {
                                            font: 500 20px/32px 'Open Sans', 'sans-serif';
                                            font-style: italic;

                                        }
                                    }


                                }

                                .site-div-three {
                                    max-width: 296px;


                                    .site-details {

                                        .problem-title {
                                            font-size: 19px;
                                        }

                                        .prob-description {
                                            font: 500 20px/32px 'Open Sans', 'sans-serif';
                                            font-style: italic;

                                        }
                                    }


                                }
                            }
                        }
                    }
                }

            }
        }

    }

}


// media query for tablet view

@media screen and (max-width:1023px) {

    body {

        .main-container {
            .outer-main-container {

                .header {
                    .header-div {
                        display: unset;
                        flex-direction: column;

                        .nav-section {
                            position: relative;

                            .menuIcon {
                                display: block;
                                position: absolute;
                                top: 30px;
                                left: 18px;
                            }

                            .cancelIcon {

                                position: absolute;
                                left: 20px;
                                top: 22px;

                            }

                            .logo {
                                padding: 20px 0px 10px 60px;
                            }
                        }

                        // .header-menu {
                        //     background-image: url(./Images/mobile\ background.jpg);
                        //     background-repeat: no-repeat;
                        //     width: 100%;
                        //     background-size: cover;


                        // }

                        .header-menu {
                            display: none;


                            // .sub-menu {
                            //     background-color: white;
                            //     height: 200px;
                            //     display: none;


                            //     .mobileUl {

                            //         display: flex;
                            //         flex-direction: column;
                            //         gap: 30px;
                            //         padding-top: 35px;


                            //         .mobileLi {
                            //             font: 500 20px/22px @oswald;
                            //             color: @primary-color;

                            //         }
                            //     }

                            // }
                        }

                        .right-nav {
                            display: none;
                        }


                        .topSide-header {
                            background-image: url(./Images/mobile\ background.jpg);
                            background-repeat: no-repeat;
                            width: 100%;
                            background-size: cover;

                            .header-menu {
                                display: block;

                                .ulLists {
                                    display: block;
                                    padding: 25px 0px 40px 0px;
                                    text-align: center;


                                    .liLists {
                                        padding-left: 0px;
                                        padding-top: 20px;
                                        width: 100%;

                                        padding: 12px 0px;
                                        margin: 0px 0px;



                                        a {

                                            .navOne {
                                                color: @seconday-color;
                                            }

                                            .nav-head {
                                                color: @seconday-color;
                                                font-size: 21px;

                                            }

                                            .lineDiv {
                                                display: flex;
                                                justify-content: center;

                                                .underLine {
                                                    width: 40px;
                                                    height: 4px;

                                                }
                                            }

                                            .arrow::after {
                                                content: "";
                                                background-image: url(./Images/arrow.png);
                                                position: absolute;
                                                background-repeat: no-repeat;
                                                width: 20px;
                                                height: 10px;
                                                rotate: 180deg;
                                                top: 10px;
                                                color: #E3411A;

                                            }

                                        }

                                        .sub-menu {
                                            background-color: white;
                                            height: 200px;
                                            display: none;
                                            // display: block;


                                            .mobileUl {

                                                display: flex;
                                                flex-direction: column;
                                                gap: 30px;
                                                padding-top: 35px;


                                                .mobileLi {
                                                    font: 500 20px/22px @oswald;
                                                    color: @primary-color;

                                                }
                                            }

                                        }

                                        .opens {
                                            display: block;
                                        }
                                    }
                                }
                            }


                            .right-nav {
                                display: block;
                                padding-bottom: 20px;


                                .inner-right-nav {
                                    flex-direction: column-reverse;

                                    .contactBtn {
                                        padding-right: 19px;

                                        .headsetIcon {
                                            left: 120px;
                                        }

                                        .innerBtn {
                                            width: 330px;
                                        }

                                    }
                                }



                            }
                        }


                    }
                }


            }

            .inner-content {
                .content-nav {
                    .left-nav {
                        .inner-nav {
                            .bulb {
                                padding: 60px 0px 60px 30px;

                                width: 100%;
                            }

                            .content-div-mob {
                                .main-title {
                                    display: none;
                                }

                            }
                        }

                        .main-contents {
                            padding-left: 50px;

                            .main-title {
                                font: 900 36px/42px 'Gotham Ultra', sans-serif;
                            }

                            .mainUL {
                                padding-left: 24px;

                                .mainLi {
                                    font: 600 20px/36px 'Open Sans', 'sans-serif';
                                }
                            }

                            .qouteBtn {
                                .btnQuote {
                                    height: 70px;
                                    width: 224px;
                                    font: bold 24px/41px 'Open Sans', 'sans-serif';

                                }
                            }
                        }

                    }
                }

                .second-content-container {
                    .inner-second {
                        .second-title {
                            font-size: 32px;
                        }
                    }

                    .problem-div {
                        .problem-grid {
                            .grid-flex {
                                padding: 0px 28px;

                                .site-div {
                                    .site-details {

                                        padding: 127px 24px 13px 14px;

                                        .problem-title {
                                            font-size: 18px;
                                        }

                                        .prob-description {
                                            font-size: 19px;
                                        }

                                    }
                                }

                                .site-div-two {


                                    .site-details {
                                        padding: 127px 4px 13px 14px;

                                        .problem-title {
                                            font-size: 18px;
                                        }

                                        .prob-description {
                                            font-size: 19px;
                                        }
                                    }



                                }

                                .site-div-three {

                                    .site-details {
                                        padding: 127px 4px 13px 2px;

                                        .problem-title {
                                            font-size: 18px;
                                        }

                                        .prob-description {
                                            font-size: 19px;
                                        }
                                    }



                                }
                            }
                        }
                    }
                }
            }



        }

    }

}

// media query for mobile min width 1024px

@media screen and(max-width:767px) {

    body {

        .main-container {
            .outer-main-container {
                .header {
                    .header-div {
                        flex-direction: column;


                        .nav-section {
                            position: relative;

                            .menuIcon {
                                display: block;
                                position: absolute;
                                left: 20px;
                                top: 30px;
                            }

                            .cancelIcon {
                                display: none;
                                position: absolute;
                                left: 20px;
                                top: 22px;
                            }

                            .logo {
                                padding: 18px 0px 10px 66px;
                            }
                        }

                        padding-left: 0;


                        .topSide-header {
                            .header-menu {
                                .ulLists {
                                    display: block;
                                    padding: 25px 0px 40px 0px;
                                    text-align: center;


                                    .liLists {
                                        padding-left: 0px;
                                        padding-top: 20px;
                                        width: 100%;

                                        padding: 12px 0px;
                                        margin: 0px 0px;



                                        a {

                                            .navOne {
                                                color: @seconday-color;
                                            }

                                            .nav-head {
                                                color: @seconday-color;
                                                font-size: 21px;

                                            }

                                            .lineDiv {
                                                display: flex;
                                                justify-content: center;

                                                .underLine {
                                                    width: 40px;
                                                    height: 4px;

                                                }
                                            }

                                            .arrow::after {
                                                content: "";
                                                background-image: url(./Images/arrow.png);
                                                position: absolute;
                                                background-repeat: no-repeat;
                                                width: 20px;
                                                height: 10px;
                                                rotate: 180deg;
                                                top: 10px;
                                                color: #E3411A;

                                            }
                                        }

                                        .sub-menu {
                                            background-color: white;
                                            height: 200px;
                                            display: none;


                                            .mobileUl {

                                                display: flex;
                                                flex-direction: column;
                                                gap: 30px;
                                                padding-top: 35px;


                                                .mobileLi {
                                                    font: 500 20px/22px @oswald;
                                                    color: @primary-color;

                                                }
                                            }

                                        }

                                        .opens {
                                            display: block;
                                        }

                                        // .sub-menu .open {
                                        //     display: block;
                                        // }



                                    }
                                }
                            }

                            .right-nav {
                                padding-left: 20px;

                                .inner-right-nav {

                                    flex-direction: column-reverse;

                                    .contactBtn {

                                        .headsetIcon {
                                            left: 120px;

                                        }

                                        .innerBtn {
                                            width: 330px;

                                        }
                                    }
                                }
                            }

                        }


                    }
                }
            }


            .click {
                background-image: url(./Images/mobile\ background.jpg);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 500px;
                display: block;


                .content-nav {
                    height: 500px;

                    .left-nav {
                        display: unset;

                        .inner-nav {
                            display: flex;

                            .bulb {
                                padding: 42px 0px 0px 21px;
                                max-width: 116px;
                                height: 177px;
                            }

                            .content-div-mob {
                                .main-title {
                                    font: 900 20px/42px @gotham ;
                                    color: #FFB13C;
                                    padding-top: 42px;

                                    padding-left: 20px;
                                    display: block;

                                }

                            }

                        }

                        .main-contents {
                            padding-left: 0px;
                            padding-top: 0px;

                            .main-title {
                                font-size: 30px;
                                display: none;
                            }

                            .mainUL {
                                padding-left: 49px;

                                .mainLi {
                                    font-size: 16px;
                                }
                            }

                            .qouteBtn {
                                margin-top: 37px;
                                margin-left: 27px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .btnQuote {
                                    height: 59px;
                                    width: 224px;
                                    font: bold 20px/41px 'Open Sans', 'sans-serif';
                                }
                            }
                        }
                    }
                }


                .second-content-container {

                    .problem-div {
                        .problem-grid {
                            .grid-flex {
                                flex-direction: column;
                                row-gap: 20px;
                            }
                        }
                    }
                }



            }


        }

    }


}